* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 10px;
    background-color: turquoise;
    color: saddlebrown;
    border-radius: 0px 0px 20px 20px;
}

nav h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

.menu {
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr);
    justify-items: center;
    gap: 5px;
    margin: 20px 0px;
    font-size: 1.2rem;
}

.menu span {
    cursor: pointer;
}

.menu span:hover {
    text-decoration: underline;
}

.m1 {
    grid-column-start: 2;
}

.quiz {
    font-weight: bolder;
}

header {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-align: center;
    margin: 20px;
    color: slateblue;
}

header h4 {
    text-align: center;
    margin: 20px 10px;
    color: green;
}

header h4 span {
    font-size: 1.3rem;
    font-weight: 600;
}

.questions {
    max-width: 1000px;
    text-align: left;
    font-size: large;
    margin: 0px 20px;
    line-height: 30px;
}

.que {
    margin: 10px 0px;
}

.options {
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.declare {
    display: flex;
    margin: 20px;
    border: 2px solid rgb(152, 145, 145);
    padding: 10px;
    min-width: 60%;
    text-align: center;
}

.declare input {
    cursor: pointer;
    margin: 0px 10px;
    width: 20px;
}

.btn-submit {
    text-decoration: none;
}

.button {
    margin: auto;
    display: none;
    font-size: 1.3rem;
    background-color: gray;
    color: saddlebrown;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: not-allowed;
    outline: none;
    transition: 0.2s all;
}

.button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.op input,
.op label {
    cursor: pointer;
}

#score {
    margin: 20px 0px;
    text-align: center;
    color: green;
}

.op-score {
    color: red;
}

.correct {
    color: green;
    font-weight: bolder;
}

.result-header {
    display: none;
}


@media screen and (max-width:500px) {
    html {
        font-size: 12px;
    }
}